<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.patient.name"></h1>
  </div>
  <div class="page-content">
    {{vm.patient.patientid}}
  </div>
  <!-- <div class="pull-right" 
       data-ng-show="vm.patient.isCurrentUserOwner"> -->
  <div class="pull-right" 
       ng-show="authentication.user._id == patient.user._id">
    <a class="btn btn-primary"
       data-ui-sref="patients.edit({ patientId: vm.patient._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.patient.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.patient.user"
            data-ng-bind="vm.patient.user.displayName"></span>
      <span data-ng-if="!vm.patient.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.patient.content"></p>
</section>
