<section>
  <div class="page-header">
    <h1>{{vm.admission._id ? 'Edit Admission' : 'New Admission'}}</h1>
  </div> 
  
  <div class="container">  
  <div class="dropdown">
    <button type="button" class="btn btn-primary">{{vm.selectedPatientDetails === "" ? "Select a Patient" : vm.selectedPatientDetails.name}}</button>
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li ng-if="vm.selectedPatientDetails !=''">
			  <a ng-click="vm.setPatientDetails(0)">Select a Patient</a>
			</li>
      <li data-ng-repeat="patient in vm.patients">
        <a data-ng-click="vm.setPatientDetails(patient.patientid)" data-ng-bind="patient.name"></a>
      </li>      
    </ul>
  </div>
</div>
	
  <div class="col-md-12">
    <form name="vm.form.admissionForm" class="form-horizontal" ng-submit="vm.save(vm.form.admissionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" >
          <label class="control-label" for="name">Patient ID</label>
          <input name="patientid" type="text" ng-model="vm.admission.patientid" id="patientid" class="form-control" placeholder="{{vm.selectedPatientDetails.patientid}}" required readonly>
          
		  <label class="control-label" for="name">Patient Name</label>
          <input name="patientname" type="text" ng-model="vm.admission.patientname" id="patientname" class="form-control" placeholder="{{vm.selectedPatientDetails.name}}" required readonly>
          
		  <label class="control-label" for="name">Insurance ID</label>
          <input name="insuranceid" type="text" ng-model="vm.admission.insuranceid" id="insuranceid" class="form-control" placeholder="vm.admission.insuranceid" required readonly>
          <div class="input-group" show-errors>
			  <label class="control-label" for="name">Admission Comments</label>
			  <input name="name" type="text" ng-model="vm.admission.admissioncomments" id="name" class="form-control" placeholder="Comments" required>
			  <div ng-messages="vm.form.admissionForm.name.$error" role="alert">
				<p class="help-block error-text" ng-message="required">Admission Comments are required.</p>
			  </div>
		  </div>
        </div>
		<div ng-if="vm.patientSelected" class="form-group">
          <button type="button" ng-click="vm.processInsurance(vm.admission.insuranceid)" class="btn btn-default">Process Insurance</button>
        </div>
        <div ng-if="vm.patientSelected" class="form-group">
          <button type="submit" class="btn btn-default">{{vm.admission._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
